.title {
    color:black;
    text-align:center;
    font-family:sans-serif;
    animation-name:title;
    animation-duration:4s; 
    animation-direction: reverse;
}

p {
    font-family:serif;
}

html {
    background-color:	#483C32;
}

@keyframes title {
    0% {color:black;}
    50% {color:red;}
    100% {animation-direction: reverse}
}

/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}